entry_values.txt
__pycache__/change_rules.cpython-311.pyc
build/gui/Analysis-00.toc
build/gui/base_library.zip
build/gui/EXE-00.toc
build/gui/gui.pkg
build/gui/PKG-00.toc
build/gui/PYZ-00.pyz
build/gui/PYZ-00.toc
build/gui/Tree-00.toc
build/gui/Tree-01.toc
build/gui/Tree-02.toc
build/gui/warn-gui.txt
build/gui/xref-gui.html
build/gui/localpycs/pyimod01_archive.pyc
build/gui/localpycs/pyimod02_importers.pyc
build/gui/localpycs/pyimod03_ctypes.pyc
build/gui/localpycs/pyimod04_pywin32.pyc
build/gui/localpycs/struct.pyc
data/modded/ZXCampaign.dat
data/modded/ZXRules.dat
data/rezipped/ZXCampaign.dat
data/rezipped/ZXRules.dat
data/unzipped/ZXCampaign.dat
data/unzipped/ZXRules.dat
temp/Modded
temp/UNZIPPED.dat
temp/ZXRules.dat
image.png
Untitled-1.xml
data/rezipped/new 1.cs
__pycache__/campaignstring.cpython-311.pyc
dist/gui.exe
temp/Modded
temp/ZXRules.dat
Untitled-1.xml
ws*
*.pyc
.codegpt
*.xlsx